@font-face {
    font-family: 'Google Urbanist';
    src: url('urbanist-extralight.woff2') format('woff2'),
        url('urbanist-extralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Google EB Garamond';
    src: url('eb-garamond-regular.woff2') format('woff2'),
        url('eb-garamond-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Google Inter';
    src: url('inter-medium.woff2') format('woff2'),
        url('inter-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Google Inter';
    src: url('inter-bold.woff2') format('woff2'),
        url('inter-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Google Inter';
    src: url('inter-regular.woff2') format('woff2'),
        url('inter-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}