.btn, .link a.gbutton {
    font-family: 'roboto' !important;
    font-weight: 500;
}

@font-face {
    font-family: 'Cicle';
    src: url('ciclefina.woff2') format('woff2'),
        url('ciclefina.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

body {
  font-family: 'Cormorant Garamond';
  font-size: 1.32vw;
  font-weight: normal;
  line-height: 1.4;
  letter-spacing: 0.05vw;
  color: #000000;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Cicle';
    color: #484540;
}
h1 {
    font-size: 10.8vw;
    font-weight: 100;
    line-height: 0.86;
    letter-spacing: -0.31vw;
}

h2 {
  font-size: 10.48vw;
  font-weight: normal;
  line-height: 1.01;
  letter-spacing: -0.21vw;
}

h3 {
  font-size: 2.813vw;
  font-weight: 300;
  line-height: 1.09;
  letter-spacing: 0.271vw;
}

h4 {
    font-size: 1.5vw;
    font-weight: normal;
    line-height: 1.11;
    letter-spacing: 0.227vw;
    font-family: 'Helvetica';
}

h5 {
    font-size: 1.38vw;
    font-weight: 100;
    line-height: 1.3;
    letter-spacing: normal;
}
h6{
    font-size: 0.938vw;
    font-weight: bold;
    line-height: 2.06;
    letter-spacing: 0.156vw;
}

a:hover {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

.section_inner {
    margin: 0 auto;
    /* position: fixed; */
    width: 100%;
    /* top: 0px; */
}

.site_button,
input[type="submit"] {
    font-family: 'Poppins';
    display: inline-block;
    background-color: #c7aa81;
    font-size: 0.755vw;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.72;
    letter-spacing: 0.076vw;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    padding: 0.729vw 1.927vw;
    border: 0;
    cursor: pointer;
}
.parsley-errors-list li{
    list-style: none;
    text-align: center;
}
.site_button:hover,
input[type="submit"]:hover {
    background-color: #000;
    color: #fff;
}

.section_title p {
    font-family: 'Poppins';
    font-size: 0.833vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: 0.042vw;
    text-align: center;
}

p {
    margin-top: 0;
    margin-bottom: 26px;
}

p:last-child {
    margin-bottom: 0;
}

mark {
    background-color: rgba(255, 255, 255, 0);
    background-image: linear-gradient(120deg, #f2e2e0 0%, #f2e2e0 100%);
    background-repeat: no-repeat;
    background-size: 100% 61%;
    background-position: 0 96%;
    color: inherit;
}

.text_center {
    text-align: center;
}

.mobile_only {
    display: none;
}
.desktop_only {
    display: block;
}

.topSpacing_remove{
    padding-top: 0px !important;
}
.bottomSpacing_remove{
    padding-bottom: 0px !important;
}
.topSpacing_low{
    
}
.bottomSpacing_low{
    
}

.link{
    display: block;
}
.link a.gbutton{
    border: 1px solid #191414;
    border-radius: 50px;
    background-color: #FDCD2A;
    color: #191414;
    font-family: 'Helvetica';
    font-weight: normal;
    text-transform: uppercase;
    display: inline-block;
    font-size: 0.9vw;
    padding: 1vw 2.1vw 1.14vw 2.67vw;
    letter-spacing: 0.08vw;
    transition: all 0.6s ease;
}
.link a.gbutton span{
    padding-left: 0.3vw;
    display: inline-block;
    top: 0.1vw;
    position: relative;
    width: 2.448vw;
}
.link a.gbutton span svg{
    display: block;
    width: 100%;
    height: 100%;
}
.link a.gbutton span svg line{}
.link a.gbutton span svg path{}
.link a.gbutton:hover {
    background-color: #e6e6d9;
    -webkit-filter: unset;
    filter: unset;
}

@media (max-width: 768px) {
  body {
    font-size: 4.7vw;
  }
  h1,h2,h3,h4,h5,h6{ }
  h1 {
      font-size: 18.1vw;
      letter-spacing: -0.5vw;
  }
  h2 {
    font-size: 14.458vw;
    letter-spacing: -0.2vw;
  }
  h3 {
    font-size: 6.458vw;
    letter-spacing: 0.389vw;
  }
  h4 {
      font-size: 4.16vw;
      letter-spacing: 0.302vw;
  }
  h5 {
      font-size: 3.84vw;
  }
  h6{
      font-size: 3vw;
      letter-spacing: 0.278vw;
  }
  a:hover { }
  .section_inner { }
  .site_button,
  input[type="submit"] {
      font-size: 1.007vw;
      letter-spacing: 0.101vw;
      padding: 0.972vw 2.569vw;
  }
  .parsley-errors-list li{}
  .site_button:hover,
  input[type="submit"]:hover {}
  .section_title p {
      font-size: 1.111vw;
      letter-spacing: 0.056vw;
  }
  p { }
  p:last-child { }
  mark { }
  .text_center { }
  .mobile_only { }
  .desktop_only { }

    
    .link{
        display: block;
    }
    .link a.gbutton{
        background-color: #FDCD2A;
        font-size: 4.037vw;
        padding: 4.3vw 8.421vw 5.114vw 11.978vw;
        letter-spacing: 0.359vw;
    }
    .link a.gbutton span{
        padding-left: 1.3vw;
        top: 0.1vw;
        width: 12.448vw;
    }
    .link a.gbutton span svg{}
    .link a.gbutton span svg line{}
    .link a.gbutton span svg path{}
}



.link_c1{
    color: #000000;
}
.t_white,
.link_c2{
    color: #ffffff;
}
.b_bodder{
    background-color: #fff;
}
.b_black{
    background-color: #171717;
}
.b_black2{
    background-color: #000;
}
.hr_c1{
    background-color: #e7fd29;
}

.stretch {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
/* 
=======================================
  Site Header Section
=========================================*/
/*
    Header
===========================*/
.pf4_site_header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}
.header__container{
    padding-right: 0;
    padding-left: 0;
    max-width: 100%;
    width: 100%;  
}
.header{
    font-size:0.625vw;
}
.header__content--desktop {
  padding: 1.8vw 2.2vw;
  border-bottom: 1px solid;
}
.link-list__link{
    font-family: 'Helvetica';
    text-transform: uppercase;
}
.header__content--desktop .link-list__link{
    margin-right: 2.6vw;
    margin-left: 2.6vw;
    letter-spacing: 0.17vw;
}
.header__content--desktop .link-list > :first-child{
    
}
.header__content--desktop .link-list > :last-child{
    margin-right: 1.8vw;
}
@media screen and (max-width: 767px){
   .header__content--desktop {
      padding: 3.8vw 7.2vw;
      border-bottom: 1px solid;
      min-height: 16vw;
      display: flex;
    }
    .hamburger{
        width: 41px;
        height: 28px;
    }
    .hamburger__slices{
        
    }
    .hamburger--slice-2{
        top: 14px;
    }
    .hamburger--slice-3{
        top: 14px;
    }
    .hamburger--slice-4{
       top: 27px;
    }
    .header__content--mobile{
        padding-top: 6.2vw;
        padding-left: 7vw;
        padding-right: 28vw;
        padding-bottom: 5vw;
    }
    .header__content--mobile .link-list__link{
        letter-spacing: 1.06vw;
        padding-top: 7vw;
        padding-bottom: 4.3vw;
    }
    .header__content--mobile .kcs_svg{
        width: 9vw;
        position: absolute;
        right: 11.5vw;
        bottom: 9.1vw;
        opacity: 0;
    }
    .header__content--mobile.active .kcs_svg{
        opacity: 1;
    }
    .header__content--mobile .kcs_svg svg{
      width:100%;
        height:auto;
    }
    .header__content--mobile .link-list__link:hover{
        background-color: rgb(0 0 0 / 0%);
    }
}






/*/     Section: About 1
=============================== /*/
.via1{background-color: #E6E6D9;padding-top: 12.01vw;padding-left: 8.63vw;padding-right: 8.3vw;padding-bottom: 7.5vw;}
.via1 .section_inner{display: flex;flex-wrap: wrap;box-sizing: border-box;}

.via1_title{
    width: 100%;
}
.via1_title h1{
    text-transform: uppercase;
    line-height: 0.863;
    padding-right: 13vw;
    margin-bottom: -14.1vw;
}
.via1_title h1 br{}

.via1_left{
    width: 60%;
}
.via1_left article{
    padding-left: 7vw;
    padding-right: 11vw;
    padding-top: 17.1vw;
    letter-spacing: 0.006vw;
    /* padding-bottom: 7.5vw; */
}
.via1_left article p{}

.via1_right{
    width: 40%;
    padding-left: 3.67vw;
}
.via1_right span{
    width: 100%;
    display: block;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 41.1vw;
    border: 1px solid #000;
    margin-bottom: -18.45vw;
    z-index: 1;
    position: relative;
}
.via1_right span.mobile_only{
    display: none;
}
.via1_right span img{
    width: 10%;
    opacity: 0;
}


@media (max-width: 768px){
    .via1{padding-top: 30.1vw;padding-left: 8.63vw;padding-right: 8.3vw;padding-bottom: 7.5vw;}
    .via1 .section_inner{ }

    .via1_left{
        width: 100%;
    }
    .via1_title{}
    .via1_title h1{
        font-size: 12.1vw;
        padding-right: 0vw;
        margin-bottom: 0vw;
        width: 106%;
        letter-spacing: -0.2vw;
    }
    .via1_title h1 br{}

    .via1_left article{
        padding-left: 0vw;
        padding-right: 6vw;
        padding-top: 5.3vw;
        letter-spacing: 0.034vw;
        padding-bottom: 9.7vw;
    }
    .via1_left article p{}

    .via1_right{
        width: 100%;
        padding-left: 7.9vw;
        padding-right: 8.2vw;
    }
    .via1_right span{
        height: 96.1vw;
        margin-bottom: -31.4vw;
        display: none;
    }
    .via1_right span.mobile_only{
        display:block;
    }
    .via1_right span img{}
}







/*/     Section: About 2
=============================== /*/
.via2{background-color: #FFFDFA;padding: 12.25vw 8.67vw 5.64vw 8.67vw;}
.via2 .section_inner{display: flex;flex-wrap: wrap;box-sizing: border-box;}

.via2_left{
    width: 36%;
    padding-right: 3.45vw;
}
.via2_left.mobile_only{
    display: none;
}
.via2_left img{
    border: 1px solid #000;
}

.via2_right{
    width: 64%;
    padding-top: 4.7vw;
}
.via2_right article{
    padding-left: 5.86vw;
    padding-right: 3.8vw;
    letter-spacing: 0.007vw;
    line-height: 1.37;
    padding-bottom: 2.8vw;
}
.via2_right article.s2{}
.via2_right article p{}

.via2_right blockquote{
    font-size: 1.5vw;
    font-weight: normal;
    line-height: 1.32;
    letter-spacing: 0.234vw;
    font-family: 'Helvetica';
    padding-left: 5.9vw;
    position: relative;
    margin: 0vw;
    padding-right: 4vw;
    padding-bottom: 2.7vw;
    color: #191414;
}
.via2_right blockquote span{
    font-family: 'Cicle';
    font-weight: 300;
    position: absolute;
    top: -7.2vw;
    left: -0.29vw;
    font-size: 26vw;
    color: #484540;
}


@media (max-width: 768px){
    .via2{padding: 32.25vw 6.67vw 8.1vw 6.67vw;}
    .via2 .section_inner{ }

    .via2_left{
        display: none;
        width: 100%;
        padding-left: 2vw;
        padding-top: 8vw;
        padding-right: 2vw;
        padding-bottom: 10.4vw;
    }
    .via2_left.mobile_only{
        display: block;
        /* width: 100%; */
        /* padding-left: 2vw; */
        /* padding-top: 8vw; */
        /* padding-right: 2vw; */
    }
    .via2_left img{}

    .via2_right{
        width: 100%;
        padding-top: 4vw;
    }
    .via2_right article{
        padding-left: 1vw;
        padding-right: 1.8vw;
        text-align: center;
        letter-spacing: 0.035vw;
        line-height: 1.4;
    }
    .via2_right article.s2{}
    .via2_right article p{}

    .via2_right blockquote{
        font-size: 4.5vw;
        padding-right: 3.6vw;
        padding-bottom: 6.9vw;
        padding-left: 26.6vw;
        letter-spacing: 0.8vw;
        line-height: 1.56;
    }
    .via2_right blockquote span{
        font-size: 118vw;
        line-height: 0.9;
        top: -7.7vw;
        left: -1.29vw;
    }
}







/*/     Section: About 3
=============================== /*/
.via3{background-color: #F8F5E8;border-bottom: 1px solid #000;}
.via3 .section_inner{ }

.via3_cts{
    padding-top: 1.37vw;
    padding-bottom: 1.23vw;
    border-top: 1px solid #000;
    height: 6.5vw;
    overflow:hidden;
}
.via3_cts.slick-initialized{
    height:auto;
}
.via3_ctc1{
    font-size: 2.9vw;
    line-height: 1.32;
    letter-spacing: 0.0vw;
    color: #191414;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Cicle';
    font-weight: 300;
    padding-left: 1.4vw;
    padding-right: 1.4vw;
} 

.via3_conter{
    border-top: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0vw 3.9vw 0vw 4vw;
}
.via3_col{
    /* border-top: 1px solid #000; */
    width: 25%;
    border-right: 1px solid #000;
    text-align: center;
    padding-top: 1.85vw;
    padding-bottom: 2.3vw;
}
.total_grid_3 .via3_col{
    width: 33.33%;
}
.total_grid_2 .via3_col{
    width: 50%;
}
.total_grid_1 .via3_col{
    width: 100%;
}
.via3_col:last-child{
    border-right: 0px solid #000;
}
.via3_col h3{
    font-size: 3.9vw;
    text-transform: uppercase;
    letter-spacing: -0.12vw;
    margin-bottom: 0.04vw;
}
.via3_col h3 span{}
.via3_col h4{
    font-size: 1.5vw;
    font-weight: normal;
    line-height: 1.32;
    letter-spacing: 0.234vw;
    font-family: 'Helvetica';
    padding-left: 0.5vw;
    position: relative;
    margin: 0vw;
    /* padding-right: 4vw; */
    /* padding-bottom: 2.7vw; */
    color: #191414;
    text-transform: uppercase;
}

@media (max-width: 768px){
    .via3{overflow: hidden;}
    .via3 .section_inner{ }

    .via3_cts{
        padding-top: 2.8vw;
        padding-bottom: 2.7vw;
    }
    .via3_ctc1{
        font-size: 13vw;
        padding-left: 5.4vw;
        padding-right: 5.4vw;
    } 

    .via3_conter{
        padding: 0vw;
        width: 102% !important;
    }
    .via3_col{
        width: 50%;
        padding-top: 6.4vw;
        padding-bottom: 10.3vw;
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
        margin-left: -0.5%;
        /* margin-right: -0.5%; */
    }
    
.total_grid_3 .via3_col{
    width: 100%;
}
.total_grid_2 .via3_col{
    width: 50%;
}
.total_grid_1 .via3_col{
    width: 100%;
}
    
    .via3_col h3{
        font-size: 8.9vw;
        letter-spacing: -0.4vw;
    }
    .via3_col h3 span{}
    .via3_col h4{
        font-size: 5vw;
        letter-spacing: 0.5vw;
    }
}







/*/     Section: About 4
=============================== /*/
.via4{background-color: #FFF;}
.via4 .section_inner{display: flex;flex-wrap: wrap;box-sizing: border-box;}

.via4_left{
    width: 50%;
    padding: 6.1vw 4vw 2.445vw 8.64vw;
}
.via4_left h2{
    text-transform: uppercase;
    font-size: 4.1vw;
    letter-spacing: -0.12vw;
}
.via4_left h2 br{}
.via4_left article{
    padding: 2.25vw 5.9vw 0.9vw 3vw;
}
.via4_left article ul{
    margin: 0px;
    padding: 0px;
}
.via4_left article ul li{
    position: relative;
    padding-left: 2.13vw;
    letter-spacing: 0.006vw;
    margin-bottom: 1.77vw;
    list-style: none;
}
.via4_left article ul li:before{
    content:"";
    background-color: #E6E6D9;
    border: 1px solid #191414;
    width: 0.67vw;
    height: 0.67vw;
    display: block;
    position: absolute;
    top: 0.56vw;
    left: 0vw;
    border-radius: 50%;
}

.via4_right{
    width: 50%;
}
.via4_right span{
    width: 100%;
    display: block;
    height: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    border-left: 1px solid #000;
}
 .via4_right span.mobile_only{
    display:none;
}
.via4_right span img{
    width: 10%;
    opacity: 0;
}

@media (max-width: 768px){
    .via4{margin-top: -1px;z-index: 1;}
    .via4 .section_inner{ }

    .via4_left{
        order: 2;
        width: 100%;
        padding: 12.9vw 8vw 7.7vw 8.64vw;
    }
    .via4_left h2{
        font-size: 13vw;
        letter-spacing: -0.17vw;
        line-height: 0.88;
    }
    .via4_left h2 br{}
    .via4_left article{
        padding: 6.25vw 1.9vw 0.9vw 0vw;
    }
    .via4_left article ul{}
    .via4_left article ul li{
        padding-left: 7.7vw;
        letter-spacing: 0.04vw;
        margin-bottom: 6.4vw;
    }
    .via4_left article ul li:before{
        width: 3.1vw;
        height: 3.1vw;
        top: 2vw;
    }

    .via4_right{
        order: 1;
        width: 100%;
    }
    .via4_right span{
        border: 1px solid #000;
        height: 104.8vw;
        border-top: 0vw;
        display:none;
    }
     .via4_right span.mobile_only{
         display:block;
     }
    .via4_right span img{}
}

/*/     Section: Home 7
=============================== /*/
.via5{
    border-bottom: 1px solid #191414;
    border-top: 1px solid #191414;
}
.via5 .section_inner{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.via5_left{
    background-color: #E6E6D9;
    width: 38%;
}
.via5_left span{
    width: 100%;
    height: 100%;
    display: block;
    background-repeat: space;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.via5_left span.mobile_only{
    display: none;
}
.via5_left span img{width: 10%;opacity: 0;}
.via5_right{
    width: 62%;
    padding-right: 9.1vw;
    padding-left: 0vw;
    padding-bottom: 5vw;
    border-left: 1px solid #191414;
}
.via5_rightin{
    /* border-right: 1px solid #191414; */
    /* padding-bottom: 6.5vw; */
    /* border-left: 1px solid #191414; */
}
.via5_right h2{
    margin-left: -6.2vw;
    font-size: 9.2vw;
    padding-top: 6.3vw;
    margin-bottom: 0px;
    padding-bottom: 2.4vw;
    text-transform: uppercase;
    letter-spacing: -0.24vw;
}

.via5_testimonal{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.via5_text{}
.via5_text article{
    padding-top: 1vw;
    padding-left: 4.5vw;
    padding-right: 21vw;
    padding-bottom: 1vw;
    letter-spacing: 0.006vw;
}
.via5_text article p{}
.via5_text article p br{}

.via5_text span.name{
    font-size: 1.5vw;
    font-weight: normal;
    line-height: 1.11;
    letter-spacing: 0.24vw;
    font-family: 'Helvetica';
    display: block;
    padding-left: 2.5vw;
    padding-top: 0.1vw;
    padding-right: 10vw;
    padding-bottom: 7.9vw;
    display: none;
}

.via5_testimonal .slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 0px;
    background-color: transparent;
    padding: 0;
    width: 3.8vw;
    cursor: pointer;
}
.via5_testimonal .slick-arrow .svg{
    display: block;
}
.via5_testimonal .slick-arrow .svg svg{
    width: 100%;
    height: auto;
}
.via5_testimonal .slick-arrow .svg svg line{}
.via5_testimonal .slick-arrow .svg svg path.p{}

.via5_testimonal .slick-next{
    right: -6.4vw;
}
.via5_testimonal .slick-prev{
    display: none !important;
}

.via5_testimonal ul.slick-dots{
    position: absolute;
    top: -16vw;
    right: -5.97vw;
    margin: 0px;
    padding: 0px;
}
.via5_testimonal ul.slick-dots li{
    list-style: none;
    display: none;
    position: relative;
    width: 2.4vw;
}

.via5_testimonal ul.slick-dots li button{
    border: 0px;
    background-color: transparent;
    font-family: 'Cicle';
    color: #484540;
    font-size: 3.7vw;
    width: 100%;
    display: block;
    text-align: center;
}
.via5_testimonal ul.slick-dots li button:after{
    content:"";
    height: 11.1vw;
    width: 1px;
    display: block;
    background-color: #000;
    margin: 0px auto;
    margin-top: 3.66vw;
    display: none;
}
.via5_testimonal ul.slick-dots li.slick-active{
    display: block;
}
.via5_testimonal ul.slick-dots li.slick-active button{}
@media (max-width: 768px){
    .via5{border: 0vw;}
    .via5 .section_inner{ }

    .via5_left{/* display: none; */width: 100%;}
    .via5_left span{
        display: none;
        height: 87.2vw;
        border: 1px solid #000;
    }
    .via5_left span.mobile_only{
        display: block;
    }
    .via5_right{width: 100%;padding-right: 5vw;padding-left: 5vw;padding-top: 0vw;border-left: 0;padding-bottom: 0;}
    .via5_rightin{border: 0vw;padding-bottom: 0;}
    .via5_right h2{margin-left: 0vw;font-size: 15vw;letter-spacing: -0.4vw;padding-bottom: 5.9vw;padding-top: 7.1vw;padding-left: 3.6vw;}


    .via5_testimonal{width: 100%;padding-bottom: 24vw;}
    .via5_text{}
    .via5_text article{padding-top: 0.8vw;padding-left: 3.5vw;padding-right: 8vw;padding-bottom: 7.1vw;letter-spacing: 0.04vw;}
    .via5_text article p{}
    .via5_text article p br{}

    .via5_text span.name{padding-left: 9.5vw;padding-top: 0.1vw;padding-right: 10vw;padding-bottom: 11.9vw;font-size: 4.2vw;letter-spacing: 0.65vw;}

    .via5_testimonal .slick-arrow{/* width: 55%; */border: 1px solid;height: 21vw;padding-left: 9.9vw;padding-right: 23.5vw;bottom: 0vw;top: unset;transform: unset;}
    .via5_testimonal .slick-arrow .svg{/* transform: rotate(180deg); */}
    .via5_testimonal .slick-arrow .svg svg{ }
    .via5_testimonal .slick-arrow .svg svg line{}
    .via5_testimonal .slick-arrow .svg svg path.p{}

    .via5_testimonal .slick-next{right: -5vw;border-right: 0vw;width: 55.5%;padding-left: 22.8vw;padding-right: 10.4vw;padding-top: 2vw;border-left: 0px;}
    .via5_testimonal .slick-prev{display: block !important;/* transform: rotate(20deg); */left: -5vw;border-left: 0vw;width: 55.7%;padding-top: 1vw;border-right: 0px;}
    .via5_testimonal .slick-prev .svg{transform: rotate(180deg);}

    .via5_testimonal ul.slick-dots{right: 33vw;bottom: 0vw;top: unset;}
    .via5_testimonal ul.slick-dots li{width: 25.6vw;border-left: 1px solid #000;border-right: 1px solid #000;height: 21vw;margin: 0px;}

    .via5_testimonal ul.slick-dots li button{height: 100%;display: block;font-size: 9vw;padding-top: 2.3vw;}
    .via5_testimonal ul.slick-dots li button:after{display: none;}
    .via5_testimonal ul.slick-dots li.slick-active{  }
    .via5_testimonal ul.slick-dots li.slick-active button{  }
}





/*/     Section: Home 9
=============================== /*/
.vic9{}
.vic9 .section_inner{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.vic9_left{
    background-color: #E6E6D9;
    width: 56.9%;
}
.vic9_left h2{
    font-size: 5.7vw;
    text-align: center;
    text-transform: uppercase;
    padding-top: 3.22vw;
    letter-spacing: -0.13vw;
    padding-left: 4vw;
    padding-right: 2vw;
    margin-bottom: 1.12vw;
}
.vic9_insta{
    padding-left: 4.8vw;
    padding-right: 2.8vw;
    padding-bottom: 2.24vw;
}
.vic9_insta img {
    width: 100%;
}

.vic9_left .link{
    padding-left: 4.8vw;
    padding-right: 2.8vw;
    padding-bottom: 2.9vw;
    text-align: center;
}
.vic9_left .link a.gbutton{}
.vic9_left .link a.gbutton span{}
.vic9_left .link a.gbutton span svg{}
.vic9_left .link a.gbutton span svg line{}
.vic9_left .link a.gbutton span svg path{}

.vic9_right{
    width: 43.1%;
    background-color: #F8F5E8;
}
.vic9_right h2{
    font-size: 5.7vw;
    text-align: center;
    text-transform: uppercase;
    padding-top: 3.22vw;
    letter-spacing: -0.13vw;
    padding-left: 3vw;
    padding-right: 3vw;
    margin-bottom: 1.12vw;
}
.vic9_right article{
    padding-top: 0.56vw;
    padding-left: 6.97vw;
    padding-right: 5vw;
    padding-bottom: 2.75vw;
}
.vic9_right article p{}
.vic9_right article p br{
    display: none;
}

.vic9_form{
    padding-left: 4.12vw;
    padding-right: 4.45vw;
    padding-bottom: 2.9vw;
}
.vic9_form form{}

.vic9_form_in{
    /* display: flex; */
    /* flex-wrap: wrap; */
    position: relative;
}
.vic9_form_in .form-group{
    margin-bottom: 25px;
}
.vic9_form_in .form-group input{
    width: 100%;
    border-radius: 0px;
    border: 1px solid #191414;
    background-color: transparent;
    display: block;
    height: 4.56vw;
    font-family: 'Helvetica';
    font-weight: normal;
    color: #191414;
    font-size: 17px;
    padding-left: 1.98vw;
    letter-spacing: 0.1vw;
}
.vic9_form_in .email-field{
    margin-bottom: 0px;
}
.vic9_form_in .email-field input{
    height: 4.5vw;
    padding-right: 7vw;
}

.vic9_form_in .form-group input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #191414;
}
.vic9_form_in .form-group input::-moz-placeholder { /* Firefox 19+ */
    color: #191414;
}
.vic9_form_in .form-group input:-ms-input-placeholder { /* IE 10+ */
    color: #191414;
}
.vic9_form_in .form-group input:-moz-placeholder { /* Firefox 18- */
    color: #191414;
}

.vic9_form_in .vic9_button{
    position: absolute;
    bottom: 0vw;
    right: 0vw;
    height: 4.5vw;
    width: 6.63vw;
    border-left: 1px solid #191414;
}
.vic9_form_in .vic9_button button {
    border: 0px;
    background-color: transparent;
    width: 100%;
    display: block;
    height: 100%;
    padding: 0px;
    margin: 0px;
    box-shadow: unset;
}
.vic9_form_in .vic9_button button span{display: block;padding-left: 1.3vw;padding-right: 1.6vw;padding-top: 0.2vw;}
.vic9_form_in .vic9_button button span svg{
    width: 100%;
    height: auto;
}
.vic9_form_in .vic9_button button span svg line{}
.vic9_form_in .vic9_button button span svg path{}

.single_column .vic9_left,
.single_column .vic9_right{
  width:100%;
}
.single_column .vic9_left h2{
  padding-left: 9vw;
  padding-right: 9vw;
  padding-top: 5vw;
}
.single_column .vic9_insta{
  padding-left: 9vw;
  padding-right: 9vw;
}
.single_column .link{
  padding-left: 9vw;
  padding-right: 9vw;
  padding-bottom: 5vw;
}

.single_column article{
  text-align:
  center;
  padding-left: 25vw;
  padding-right: 25vw;
}
.single_column .vic9_form{
  padding-bottom: 5vw;
  padding-left: 25vw;
  padding-right: 25vw;
}
.single_column .vic9_right h2{
  padding-top: 5vw;
}

@media (max-width: 768px){
    .vic9{}
    .vic9 .section_inner{}

    .vic9_left{
    width: 100%;
}
    .vic9_left h2{
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 15.95vw;
    padding-top: 11.9vw;
    margin-bottom: 12.5vw;
}
    .vic9_insta{display: none;}
    .vic9_insta img{}

    .vic9_left .link{
    padding-left: 4.8vw;
    padding-right: 4.8vw;
    padding-bottom: 10.45vw;
}
    .vic9_left .link a.gbutton{}
    .vic9_left .link a.gbutton span{
    top: 1vw;
}
    .vic9_left .link a.gbutton span svg{}
    .vic9_left .link a.gbutton span svg line{}
    .vic9_left .link a.gbutton span svg path{}

    .vic9_right{
    width: 100%;
}
    .vic9_right h2{
    font-size: 13.5vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 9.7vw;
    letter-spacing: -0.43vw;
}
    .vic9_right article{
    padding-top: 4.3vw;
    padding-left: 10vw;
    padding-right: 8vw;
    padding-bottom: 8.4vw;
    text-align: center;
}
    .vic9_right article p{}
    .vic9_right article p br{}

    .vic9_form{
    padding-left: 8.4vw;
    padding-right: 8.2vw;
    padding-bottom: 9.5vw;
}
    .vic9_form form{}

    .vic9_form_in{}
    .vic9_form_in .form-group{}
    .vic9_form_in .form-group input{
    height: 20.456vw;
    padding-left: 5.99vw;
    letter-spacing: 0.449vw;
    padding-right: 5.99vw;
}
    .vic9_form_in .vic9_button{
    height: 20.187vw;
    width: 18.1vw;
}
    .vic9_form_in .vic9_button button{}
    .vic9_form_in .vic9_button button span{
    padding-left: 4.34vw;
    padding-right: 4.34vw;
}
    .vic9_form_in .vic9_button button span svg{}
    .vic9_form_in .vic9_button button span svg line{}
    .vic9_form_in .vic9_button button span svg path{}
    
    .single_column .vic9_form {
      padding-bottom: 5vw;
      padding-left: 10vw;
      padding-right: 10vw;
  }
  .single_column .vic9_right h2{
    padding-top:10vw
  }
  .single_column .vic9_form{
    padding-bottom: 10vw;
  }
  .single_column .vic9_left h2 {
      padding-left: 5vw;
      padding-right: 5vw;
      padding-top: 10vw;
  }
}






/*/     Site Footer
=============================== /*/
.st9{
    padding-top: 3.1vw;
    padding-bottom: 3vw;
    background-color: #FFFDFA;
    padding-left: 9.688vw;
    padding-right: 9.688vw;
}
.st9 .section_inner{
    color: #191414;
    text-transform: uppercase;
    font-size: 1vw;
    font-weight: bold;
    line-height: 1.11;
    letter-spacing: 0.23vw;
    font-family: 'Helvetica';
    display: block;
    text-align: center;
}
.st9 .section_inner br{
    display:none;
}
.st9 .section_inner span{}
.st9 .section_inner a{
    color: #FDCD2F;
}

@media (max-width: 768px){
    .st9{padding-top: 8vw;padding-bottom: 4.4vw;background-color: #F2F4E7;padding-left: 3.688vw;padding-right: 3.688vw;}
    .st9 .section_inner{font-size: 2.6vw;letter-spacing: 0.47vw;line-height: 1.55;}
    .st9 .section_inner span{
        display: none;
    }
    .st9 .section_inner br{
        display:block;
    }
    .st9 .section_inner a{ }
}

.topSpacing_low{
    padding-top:50px !important;
}
.bottomSpacing_low{
    padding-bottom:50px !important;
}
.topSpacing_remove{
     padding-top:0px !important;
}
.bottomSpacing_remove{
     padding-bottom:0px !important;
}


.topMargin_low{
    margin-top:50px !important;
}
.bottomMargin_low{
    margin-bottom:50px !important;
}
.topMargin_remove{
     margin-top:0px !important;
}
.bottomMargin_remove{
     margin-bottom:0px !important;
}